# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Arquivos de configuração do Qt
*.pro.user
*.pro.user*

#Arquivos compilados
*.exe
debug/*
release/*
object_script.*
Makefile*
ui_*.h
